@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

.contenedor {
  max-width: 1200px;
  margin: 0 auto; }

h1 {
  text-align: center;
  font-size: 2.4rem;
  color: #252526;
  font-family: 'Heebo', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 2rem;
  color: #252526;
  font-family: 'Heebo', sans-serif;
  font-weight: 700; }

h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #252526;
  font-family: 'Heebo', sans-serif;
  font-weight: 700; }

p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3; }

/*Utilidades*/
.separador {
  padding: .4rem;
  background-color: #DB75C5;
  margin: 1rem 0 2rem 0;
  color: white; }

/*Header*/
.header_logo {
  padding: 2rem; }

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .header {
    background-color: #fff;
    align-items: center;
    margin-bottom: 2.5rem;
    text-align: center; }
  .header_navigation li a {
    font-size: 1.6rem; } }

@media only screen and (min-width: 768px) {
  .header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem; }
  .header_navigation li a {
    font-size: 1.8rem; } }

.header_navigation li a {
  text-decoration: none;
  color: #252526;
  font-size: 1.8rem;
  padding: 1rem;
  font-family: 'Heebo', sans-serif; }

/*teléfonos móviles en modo horizontal.*/
@media (min-width: 300px) and (max-width: 768px) {
  .header_navigation {
    margin-right: 1rem;
    justify-content: center; }
  .dropdown-menu {
    text-align: center; }
  .header_navigation span i {
    font-size: 4rem;
    text-align: center; }
  .navbar {
    justify-content: center; }
  .header_logo {
    width: 20rem; } }

@media (min-width: 768px) {
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .navbar-expand-xl .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xl .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand-xl .navbar-toggler {
    display: none; } }

.header_navigation li a:hover {
  color: #252526;
  background-color: #f3f3f3;
  cursor: pointer;
  border-bottom: 1px solid #43B2F9; }

/*Main*/
.section_texto_nosotros p {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.3; }

/*Main*/
.texto_main {
  padding: 1rem; }

/**Productos**/
.section_productos {
  display: grid;
  grid-row-gap: 2rem; }

@media (min-width: 575px) and (max-width: 768px) {
  .section_productos {
    grid-template-areas: "1 2" "3 4" "5 6";
    grid-gap: 3rem; } }

@media only screen and (min-width: 768px) {
  .section_productos {
    grid-template-areas: "1 2 3" "4 5 6";
    grid-gap: 3rem; } }

.section_producto {
  width: 65%;
  height: auto;
  background-color: white;
  margin: 0 auto; }

.section_producto:hover {
  transform: scale(1.1, 1.1);
  transition: 1s ease-in-out; }

.section_producto_img {
  display: flex;
  margin: 0 auto;
  width: 20rem;
  height: auto; }

.texto_producto {
  font-size: 1.8rem;
  font-family: 'Heebo', sans-serif;
  background-color: #43B2F9;
  text-align: center;
  margin: 0;
  padding: 1rem;
  border: 1px dotted #000;
  font-weight: 900; }

.texto_producto p {
  margin: 0; }

/*Servicios*/
.section_servicios {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  margin: 2rem 0 2rem 0; }

@media only screen and (min-width: 575px) and (max-width: 800px) {
  .section_servicios {
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .section_servicios {
    grid-template-columns: repeat(4, 1fr); } }

.section_servicio:hover {
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
  transition: .3s ease-in; }

.section_servicio {
  width: 28rem;
  height: auto; }

.texto_servicio {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Heebo', sans-serif;
  background-color: #A2FC1C;
  text-align: center;
  padding: 1rem;
  color: #252526; }

.texto_servicio p {
  margin: 0; }

/*Marcas*/
@media screen and (min-width: 300px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 100%;
    max-width: 100%; }
  img .img-fluid {
    justify-self: center;
    justify-items: center;
    justify-content: center; } }

@media screen and (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 20%;
    max-width: 100%; } }

.carousel-multi-item-2 .card img {
  border-radius: 2px; }

.controls {
  text-align: center; }

img .img-fluid:hover {
  cursor: pointer; }

/*Footer*/
footer {
  padding: 0;
  margin: 0;
  background-color: #43B2F9;
  margin-top: 2rem; }

.footer_contenedor {
  display: grid;
  align-items: center;
  justify-items: center; }

@media only screen and (min-width: 768px) {
  .footer_contenedor {
    grid-template-columns: repeat(3, 1fr); } }

.footer_contactanos,
.footer_redes,
.footer_newsletter {
  margin: 0 auto; }

footer p {
  font-size: 1.6rem;
  font-family: 'Heebo', sans-serif;
  color: #252526;
  text-align: center; }

footer span, i {
  font-weight: 700;
  font-size: 1.8rem; }

.form_newsletter {
  display: flex;
  justify-content: center; }

.footer_newsletter form input:not([type="submit"]) {
  width: 18rem;
  height: 2.5rem; }

.footer_newsletter .boton {
  width: 7rem;
  height: 2.5rem;
  font-size: 1.5rem; }

.footer_copy {
  padding: 0;
  margin: 0;
  background-color: white; }

@media only screen and (min-width: 300px) and (max-width: 596px) {
  .footer > .footer_copy > p {
    font-size: 1rem; } }
